{% extends "base.html" %}


{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static "CSS/utility.css"%}">
<link rel="stylesheet" href="{% static "CSS/style.css"%}"> 
<title>Welcome!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}

{% load static %}
{% block body %}
            <!-- Navbar -->
            <div id="navbar" class="navbar-container">
              <div class="navbar-logo">
                  <img id="logo" height="48" width="48" alt="" src="{% static "Purdue_logo.svg" %}"></img>
                  Module
               </div>
              <div class="tabs">
                  <nav>
                    <ul>
                        <li><a id="Login" class="active" href="#">Login</a></li>
                        <li><a id="Warm-Up" class="inactive" href="#">Warm-Up</a></li>
                        <li><a id="Instruction" class="inactive" href="#">Instruction</a></li>
                        <li><a id="Final" class="inactive" href="#">Final</a></li>        
                    </ul>
                  </nav>
              </div>

            </div>
<!-- Login Container -->
<div id="login-container">
  <div class="form-wrap login">
    <h3><strong>Login or Register</strong></h3>
    <form id="form" method="post">
      {% csrf_token %}
      <span><input id="id_username" name="username" type="text" placeholder="Username"></span><br/>
      <input id="id_password" name="password" type="password" placeholder="Password">
    </form> 
    <div class="button-box">
      <button  class="btn custbut" onclick="register();">Register</button>
      <button  form="form" type="submit" class="btn custbut">Submit</button>
    </div>
  </div>
  <!-- <div class="login-img">
    <img id="log-img" src="{% static "Login/IMG/login.svg"%}" alt="">
  </div> -->
</div>


{% if messages %}
<style>
  #login-container{
    height: 20vw;
  }


  div#login-container{
    margin: 1vw;
    padding: 1vw;
}
</style>
  <div class="error">
    {% for message in messages %}
    <div class="flex-item">
      <p><h5>{{message}}</h5></p>
    </div>
  {% endfor %}
  <button class="btn " onclick="help();">Help</button>
</div>
{% endif %} 

{% endblock %}